/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #4957d4;
  --icon-color: #363745;
  --body-color: #f4f4fb;
  --container-color: #fafaff;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*=============== BUTTON ===============*/

.floating {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--body-color);
}

.floating-container {
  position: relative;
}

.floating-toggle,
.floating-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--container-color);
}

.floating-toggle {
  width: 70px;
  height: 70px;
  font-size: 2rem;
  color: var(--first-color);
  box-shadow: -6px -6px 24px #f7f8fc, 6px 6px 24px #d2d5ef,
    inset 6px 6px 24px #f7f8fc, inset -6px -6px 24px #d2d5ef;
  position: relative;
  z-index: 10;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s;
}

.floating-toggle i {
  transition: transform 0.8s ease-in-out;
}

.floating-toggle:hover {
  box-shadow: 6px 6px 24px #f7f8fc, -6px -6px 24px #d2d5ef,
    inset -6px -6px 24px #f7f8fc, inset 6px 6px 24px #d2d5ef;
  transform: scale(0.95);
}

.floating-icon,
.floating-link {
  width: 40px;
  height: 40px;
}

.floating-icon {
  font-size: 1rem;
  color: var(--icon-color);
  box-shadow: -4px -4px 16px #f7f8fc, 4px 4px 16px #d9dcf2,
    inset 4px 4px 16px #f7f8fc, inset -4px -4px 16px #f7f8fc;
  transition: box-shadow 0.3s ease-in-out;
}

.floating-icon:hover {
  box-shadow: 4px 4px 16px #f7f8fc, -4px -4px 16px #d9dcf2,
    inset 4px -4px 16px #f7f8fc, inset 4px 4px 16px #f7f8fc;
}

.floating-link {
  position: absolute;
  inset: 0;
  margin: auto;
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.6s;
  z-index: 1;
}

.floating-link:nth-child(1) {
  transition-delay: 0.1s;
}

.floating-link:nth-child(2) {
  transition-delay: 0.2s;
}

.floating-link:nth-child(3) {
  transition-delay: 0.3s;
}
/* Rotate toggle */

.active.floating-toggle i {
  transform: rotate(135deg);
}

/* Move icons */
.active ~ ul .floating-link {
  opacity: 1;
}

.active ~ ul .floating-link:nth-child(1) {
  transform: translate(3.5rem, -3.5rem);
}

.active ~ ul .floating-link:nth-child(2) {
  transform: translate(5.5rem);
}

.active ~ ul .floating-link:nth-child(3) {
  transform: translate(3.5rem, 3.5rem);
}
